body {
  background: #eee;
  padding: 0 25px;
  text-align: center;
}

#main {
  margin-top: 3em;
  margin-bottom:1.5em;
  background-color: #fff;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.5);
  font-size: 1em;
  border-radius: 3px;
}

#customer-form{
  margin: 1.5em auto;
  text-align: center;
}

#customer-form input{
  display: inline-block;
  width: 90%;
}

#customer-form checkbox{
  display: inline-block;
  width: 90%;
}

#customer-form select{
  display: inline-block;
  width: 90%;
}

#customer-form label{
  font-family: 'Raleway', serif;
  font-size: 1em;
}

.form-input{
  margin: 1em auto;
  text-align: center;
}

.johnstone-logo{
  height:10em;
  width:10em;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.25);
  margin-top:2em;
  margin-bottom:6em;
}

#main h2 {
  font-family: 'Raleway', serif;
  font-size: 2em;
  color:#004990;
}

.header-container{
  background-color: #D6D6D6;
  background-image: linear-gradient(#D6D6D6, #FFFFFF);
}

#thank-you{
  background: #eee;
  margin: 1em auto;
}

#thank-you h2{
  font-family: 'Raleway', serif;
  font-size: 2em;
  color:#EF3E42;
}

.trade-input{
  color: #004990;
}
